@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --accent-color: #a6c7cf;
    --main-color: black;
    --button-background-color: white;
    font-family: 'Instrument Sans', sans-serif;
    scroll-behavior: smooth;
}

img {
    display: block;
    width: 100%;
}

.container {
    max-width: 1775px;
    margin: auto;
}