.header {
    background: url(../img/background.png);

}
.header__menu-link {
    display: flex;
    flex-direction: column;
}
@media (min-width: 500px) {
    .header__menu {
        display: flex;
    }

    .header__menu-link {
        flex-direction: row;
    }
}