<section class="features">
    <h2 class="features__title">Features</h2>
    <h4 class="features__subtitle">
        Most calendars are designed for teams.<br>
        Slate is designed for freelancers
    </h4>
    <div class="features__item">
        <div class="item__drawing">
            <img src="img/drawing.png" alt="drawing">
            <h3 class="item__drawing-title">
                OpenType features <br>
                Variable fonts
            </h3>
            <p class="item__drawing-text">
                Slate helps you see how
                many more days you need
                to work to reach your
                financial goal.
            </p>
        </div>
        <div class="item__pencil">
            <img src="img/pencil.png" alt="pencil">
            <h3 class="item__pencil-title">Design with real data</h3>
            <p class="item__pencil-text">
                Slate helps you see how
                many more days you need
                to work to reach your
                financial goal.
            </p>
        </div>
        <div class="item__brush">
            <img src="img/brush.png" alt="brush">
            <h3 class="item__brush-title">Fastest way to take action</h3>
            <p class="item__brush-text">
                Slate helps you see how
                many more days you need
                to work to reach your
                financial goal.
            </p>
        </div>
    </div>
</section>