<header class="header">
    <nav class="header__menu container">
        <div class="header__menu-link">
            <a href="#">Home</a>
            <a href="#">Product</a>
            <a href="#">Pricing</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </div>
        <div class="header__logo">
            <img src="img/logo.svg" alt="figma-logo">
        </div>
        <div class="header__social-icon"> 
            <img src="img/twitter.png" alt="twitter">
            <img src="img/facebook.png" alt="facebook">
            <img src="img/linkedin.png" alt="linkedin">
        </div>
    </nav>
    <div class="hero">
        <h1 class="hero__title">The best products <br> with Figma</h1>
        <h4 class="hero__subtitle">
            Most calendars are designed for teams. Slate is designed<br>
            for freelancers
        </h4>
    </div>
    <button class="btn">Try for free</button>
</header>